# https://unix.stackexchange.com/questions/39226/how-to-run-a-script-with-systemd-right-before-shutdown
[Unit]
Description=backup all things
Before=sleep.target shutdown.target reboot.target
DefaultDependencies=no

[Service]
Type=oneshot
#RemainAfterExit=yes
ExecStart=/bin/bash %h/sync/system-data/backup.sh -f
# https://unix.stackexchange.com/a/276785
TimeoutSec=5min
TimeoutStopSec=5min
TimeoutStartSec=5min

[Install]
WantedBy=sleep.target shutdown.target reboot.target
