[Unit]
Description=Compton compositor (nouveau driver)

[Service]
#--vsync opengl-mswc --backend glx causes xserver lockups on >=4.14
ExecStart=/usr/bin/compton --backend xr_glx_hybrid --vsync opengl-swc --paint-on-overlay --unredir-if-possible --glx-no-stencil --glx-no-rebind-pixmap --glx-swap-method undefined --config %h/.config/compton.conf
Restart=on-abort

[Install]
WantedBy=default.target
