[Unit]
Description=Compton compositor (Nvidia driver)

[Service]
ExecStart=/usr/bin/compton --config /dev/null --backend xrender --unredir-if-possible
Restart=on-abort

[Install]
WantedBy=default.target
