# Proton Fullscreen patch - Requires staging - Allows resolution changes for fullscreen games without changing desktop resolution
_proton_fs_hack="true"
# Bypass compositor in fullscreen mode - Reduces stuttering and improves performance - https://github.com/ValveSoftware/wine/commit/141ba5cf73029029a5a0bd2cdcfd5f9f9ab7ee7b
_FS_bypass_compositor="true"
# vkd3d - Use the currently installed vkd3d packages (both 32 and 64-bit) for d3d12 to vulkan translation - If they aren't (both) installed, vkd3d won't be used
_use_vkd3d="true"
# Fix for Assetto Corsa performance drop when HUD elements are displayed - https://bugs.winehq.org/show_bug.cgi?id=46955
_assettocorsa_hudperf_fix="true"
# Proton workarounds to prevent crashes on some mf functions
_proton_mf_hacks="true"
# Child window support for vk - Fixes World of Final Fantasy and others - https://bugs.winehq.org/show_bug.cgi?id=45277
_childwindow_fix="true"
# Raw input fix by Guy1524 - Comes with a rework of the winex11-mouse-movements staging patchset - It is enabled by default on staging 938dddf7 or newer independently of this setting
_rawinput_fix="true"
# Enable STAGING_SHARED_MEMORY by default - Depends on staging - EA Origin Client seems to dislike that option - You can set this to false and enable the feature from env var instead (STAGING_SHARED_MEMORY=1) - https://wiki.winehq.org/Wine-Staging_Environment_Variables#Shared_Memory
_stg_shared_mem_default="true"
# community patches - add patches (separated by a space) of your choice by name from the community-patches dir
# example: _community_patches="amdags.mypatch GNUTLShack.mypatch"
_community_patches="rockstarlauncher_downloads.mypatch rockstarlauncher_install_fix.mypatch legoisland_168726.mypatch origin_downloads_e4ca5dbe_revert.mypatch"