[Unit]
Description=Backup everything
After=media-danet-Bigdisk.mount media-danet-Data.mount network-online.target
Wants=media-danet-Bigdisk.mount media-danet-Data.mount network-online.target

[Service]
Type=oneshot
ExecStart=/bin/fish -c backup