[Unit]
Description=Backup everything
ConditionPathExists=/media/danet/Data
ConditionPathExists=/media/danet/Bigdisk

[Service]
Type=oneshot
ExecStart=/bin/fish -c backup